.todo {
        width: 650px ;
        min-height: 20px ;
        border-radius: 20px;
        background: white;
        margin: auto ;
        margin-top: 174px;
        display: flex;
        flex-direction: column;
        padding: 0px 44px ;
        padding-bottom: 100px ;
        margin-bottom: 100px ;
        
}

.todo-header{
    margin-top: 84px;
    color:brown ;
    font-size: 45px ;
    font-weight: 600;
    line-height: 34px ;
    text-align: center;
}


.todo-add{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 45px ;

}

.todo-input{
    border-radius: 50px ;
    border-color: white;
    cursor: pointer;
    background: #edeef0 ;
    border:transparent ;
    outline: none;
    width: 576px ;
    height: 80px ;
    padding-left: 35px ;
    font-style: italic;
    font-size: 20px ;

}

.todo-add-btn{
    border-radius:50px  ;
    background: #e25129;
    width: 187px;
    height: 80px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    margin-left: -100px ;
    color: #fff ;
    font-size: 26px ;
    font-weight: 600 ;
    cursor: pointer ;
}

